$body-font-family: 'Gotham SSm B','Gotham SSm A','Helvetica Neue', Arial, Sans-Serif;

$msu: (
  "base":                 #CC0000,
  "lighten-1":            #ea1500,
  "darken-1":             #990000,
  "darken-2":             #5E0000,
  "accent-green":         #FAC800,
  "accent-grey":          #808080,
  "accent-orange":        #D14905,
  "accent-teal":          #008473,
  "accent-dark-grey":     #4d4d4d,
  "accent-lime":          #FAC800,
  "accent-beige":         #e8d9b5,
  "accent-brown":         #c89a58,
  "accent-dark-blue":     #4156A1,
  "accent-dark-green":    #424C09,
  "accent-dark-purple":   #6e005f,
  "accent-dark-orange":   #c03003,
  "light-grey":           #cbd1d1,
  "dark-grey":            #333333,
  "success-1":            #040504,
  "hover-1":              #57dab1
);

$colors : (
  "msu": $msu
);
