$body-font-family: 'Gotham SSm B','Gotham SSm A','Helvetica Neue', Arial, Sans-Serif;

$msu: (
  "base":                 #628F74,
  "lighten-1":            #7DBC94,
  "darken-1":             #274534,
  "darken-2":             #113d34,
  "accent-green":         #7DBC94,
  "accent-grey":          #97a2a2,
  "accent-orange":        #FD9357,
  "accent-teal":          #52A1CE,
  "accent-dark-grey":     #535054,
  "accent-lime":          #d1de3f,
  "accent-beige":         #e8d9b5,
  "accent-brown":         #c89a58,
  "accent-dark-blue":     #3C7493,
  "accent-dark-green":    #94ae4a,
  "accent-dark-purple":   #6e005f,
  "accent-dark-orange":   #cb5a28,
  "light-grey":           #cbd1d1,
  "dark-grey":            #6d7373,
  "success-1":            #5A866B,
  "hover-1":              #9DD8B3
);

$colors : (
  "msu": $msu
);
